 /* .div1{
    background-color: red;
    display: none;
}

.div2{
    background-color: blue;
    visibility: hidden;
}  */
p{
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}